{%extends 'resident/base.html'%}
{% block content %}
{%load static%}

    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <div  class="container tm-mt-big tm-mb-big">
        <div class="row">
          <div  class="col-xl-10  col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div style="padding-bottom: 100px;" class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <div class="row">
                <div class="col-12">
                  <h2 class="tm-block-title d-inline-block"><h1>Change Password</h1></h2>
                </div>
              </div>
              <div class="row tm-edit-product-row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                  
                    <form action="" method="post">
                        {% csrf_token %}

                      <label for="name"><h3>Old Password</h3></label>
                      <input name="opass" type="password"   class="form-control validate" />
                      {% for msg in messages %}
           

				<div class="group" style="text-align: center;">
					<label for="pass" class="label" style="color: red;">{{msg}}</label>
				</div>
            
				{% endfor %}
                      <label for="name"><h3>New Password</h3></label>
                      <input  name="npass" type="password"   class="form-control validate"id="password" oninput="validatePassword()" required />
                      <div id="password-strength"></div>

                      <label for="name"><h3>Confirm Password</h3></label>
                      <input  name="rpass" type="password"   class="form-control validate"id="confirm-password" oninput="validatePassword()" required />
                      <div id="confirm-password-message"></div>
                      <div class="btn-layer"></div>

                <input type="submit" value="Signup" id="submit-button" disabled>
                <script>
                    function validatePassword() {
                      var password = document.getElementById("password").value;
                      var confirmPassword = document.getElementById("confirm-password").value;
                      var passwordStrength = document.getElementById("password-strength");
                      var confirmPasswordMessage = document.getElementById("confirm-password-message");
                      var submitButton = document.getElementById("submit-button");
                 
                      // Define your password conditions here
                      var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                 
                      // Validate password
                      if (regex.test(password)) {
                        passwordStrength.innerHTML = "Password is strong!";
                        passwordStrength.style.color = "green";
                        submitButton.disabled = false;
                 
                      } else {
                        passwordStrength.innerHTML = "Password is weak. It should contain at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character.";
                        passwordStrength.style.color = "red";
                        submitButton.disabled = true;
                      }
                 
                      // Validate confirmation password
                      if (confirmPassword === password) {
                        confirmPasswordMessage.innerHTML = "Passwords match!";
                        confirmPasswordMessage.style.color = "green";
                      } else {
                        confirmPasswordMessage.innerHTML = "Passwords do not match.";
                        confirmPasswordMessage.style.color = "red";
                 
                      }
                    }
                  </script>

                </div> 
                </div>
                
                <br><br>
                <div class="col-12">
                   
                  </div>
                
            </div>
        </div>
        
    </form>

    
    {% endblock %}
