
{%extends 'resident/base.html'%}
{% block content %}
{%load static%}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img style="width: 1436px;height: 676px;" class="img-fluid" src="{% static 'img/puthenvelikara.jpg'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">For The People</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Puthenvelikara</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img style="width: 1436px;height: 676px;" class="img-fluid" src="{% static 'img/KUNNUKARA.jpg'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">For The People</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Kunnukara</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img style="width: 1436px;height: 676px;" class="img-fluid" src="{% static 'img/Airport.jpg'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">For The People</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Nedumbassery</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img style="width: 1436px;height: 676px;" class="img-fluid" src="{% static 'img/parakkadavu.jpg'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">For The People</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Parakkadavu</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-carousel-item position-relative">
                <img style="width: 1436px;height: 676px;" class="img-fluid" src="{% static 'img/Chengamanad.jpg'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">For The People</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Chengamanad</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    
    {% endblock %}
    