{% extends 'resident/base.html' %}


{% block content %}
{%load static%}



<!doctype html>
<html lang="en">
  <head>
	{% load static %}
  	<title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'tb/css/style.css' %}">


	</head>
	<body>
		{% if d1 > 0 %}

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">COMPLAINTS</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr style="background-color: rgb(161, 251, 161); color: white;">
						      <th style="color: rgb(0, 81, 16);">Subject</th>
                  <th style="color: rgb(0, 81, 16);">Date</th>
						      <th style="color: rgb(0, 81, 16);">Status</th>
						
							  <th style="color: rgb(0, 81, 16);">&nbsp;</th>
							 

						    </tr>
						  </thead>
						  <tbody>

							{% for i,j in l.items %}
                			{% for x,y in j.items %}
						    <tr>
						      <td scope="row">{{x.subject}}</td>
						      <td>{{x.created_at}}</td>
							  
							  <td>{{x.complaintstatus}}</td>

						      <td><a href="cd/{{x.id}}" class="btn btn-success">Details</a></td>
							  
                            </tr>

							{% endfor %}
							{% endfor %}


						  </tbody>
						</table>
					</div>
                    <br><br>
                    <div>
                        <a href="" class="btn btn-success">Back</a>
                    </div>
				</div>
			</div>
		</div>
	</section>
	{% else %}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">


				<h2 class="heading-section">NO COMPLAINTS</h2>
			</div>
		</div>
	
	</div>
</section>

{% endif %}


	<script src="{% static 'tb/js/jquery.min.js' %}"></script>
  <script src="{% static 'tb/js/popper.js' %}"></script>
  <script src="{% static 'tb/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'tb/js/main.js' %}"></script>

	</body>


</html>

{% endblock %}